<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>L-Earn</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>

    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <header><% include particles/header%></header>
    <main>
        <!-- Page Content -->
        <div class="container">
            <!-- Heading Row -->
            <div class="row align-items-center my-5">
                <div class="col-lg-7">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt="">
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-5 about">
                <h1 class="font-weight-light">L-Earn with team WE</h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                <a class="btn btn-primary" href="#">MORE</a>
                </div>
                <!-- /.col-md-4 -->
            </div>
        <!-- /.row -->
        <!-- L-Earn MESSAGES -->
        <!-- <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body">
                <p class="text-white m-0">NOTE-HINT-EVENTS-MESSAGES</p>
                </div>
            </div> -->
          <!-- Content Row -->
        <div class="event-container">
            <div class="event">
                <div class="poster">
                    <img src="images/img-4.jpg" alt="event:1">
                </div>
                <div class="event-about">
                    <h2>WORKSHOP: 01</h2>
                    <a href="/content" class="btn btn-primary btn-sm">MORE</a>
                </div>
            </div>
            <div class="event">
                <div class="poster">
                    <img src="images/img-3.jpg" alt="event:1">
                </div>
                <div class="event-about">
                    <h2>WORKSHOP: 02</h2>
                    <a href="/content" class="btn btn-primary btn-sm">MORE</a>
                </div>
            </div>
            <div class="event">
                <div class="poster">
                    <img src="images/img-2.jpg" alt="event:1">
                </div>
                <div class="event-about">
                    <h2>WORKSHOP: 03</h2>
                    <a href="/content" class="btn btn-primary btn-sm">MORE</a>
                </div>
            </div>
            <div class="event">
                <div class="poster">
                    <img src="images/img-1.png" alt="event:1">
                </div>
                <div class="event-about">
                    <h2>SUMMER CAMP</h2>
                    <a href="/content" class="btn btn-primary btn-sm">MORE</a>
                </div>
            </div>
            <div class="event">
                <div class="poster">
                    <img src="images/img-5.jpg" alt="event:1">
                </div>
                <div class="event-about">
                    <h2>WORKSHOP: 05</h2>
                    <a href="/content" class="btn btn-primary btn-sm">MORE</a>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-4 mb-5">
              <div class="card h-100">
                <div class="card-body">
                  <h2 class="card-title">Workshop One</h2>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <div class="card-footer">
                  <a href="/content" class="btn btn-primary btn-sm">More Info</a>
                </div>
              </div>
            </div>
            <!-- /.col-md-4 
            </div>
            <!-- /.row 
        </div>
        <!-- / .container -->
    </main>
    

    <footer ><% include partials/footer %></footer>
    <!--Bootstrap Js-->
    <script src="../../public/vendor/jquery/jquery.min.js"></script>
    <script src="../../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>    
</body>
</html>

