@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand&display=swap');

:root{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;

    --head-font: 'Montserrat', sans-serif;
    --para-font: 'Quicksand', sans-serif;

    --pri-color-1:  #006161;
    --pri-color-dark: #003137;
    --pri-color-light: #004548;

    --text-color-light: #F3F3F3;
    --text-color-dark: #414B4C;
}

.row{
    padding: 0 2rem 0 2rem;
    align-items: center;
}

.about{
    font-family: var(--para-font);
    padding: 1rem;
}

.about h1{
    font-family: var(--head-font);
    font-size: 2.5rem;
    text-align: left;
    padding:1rem;
}

.about p{
    font-family: var(--para-font);
    padding: 1rem;
    text-align: left;
    height: 20rem;
    width:20rem;
}

.event-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left:1rem;
    padding-right: 1rem;
}


.event{
    flex: 0 1 auto;
    text-align: center;
    background-color: white;
    border-radius: 0.7rem;
    height: 22rem;
    width: 44%;
    margin: 1.75rem;
    color: var(--text-color-dark);
    box-shadow: 0 0.5rem 1.3rem rgba(0, 0, 0, 0.4);
    border-bottom: solid 0.2rem var(--pri-color-1);
}

.poster{
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    height: 72%;
    width:100%;
    background-color: #F3F3F3; 
}

.poster>img{
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    height:100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.event-about{
    font-family: var(--head-font);
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-evenly;
    align-items:baseline;
}

.event-about>h2{
    flex: 0 1 auto;
    font-family: var(--head-font);
    font-size: 1.7rem;
    color: var(--pri-color-dark);
    padding: 0 2rem 0 2rem;
}

.event-about p{
    flex: 0 1 auto;
    font-family: var(--para-font);
    color: var(--text-color-dark);
    text-align: left;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.event-about a{
    flex: 0 1 auto;
    padding:0.55rem;
}

.btn{
    margin:1.5rem;
    padding-top:0.3rem;
    height: 2.5rem;
    width:5rem;
    border-radius: 0.35rem;
    background-color: var(--pri-color-1);
    color: var(--text-color-light);
    text-align: center;
}

.card{
    width: 30rem;
}


/* ---------- tablets ---------- */

@media screen and (max-width: 720px){
    :root{
        font-size: 16px;
    }

    .row{
        padding: 2rem;
    }
    .about{
        padding: 0.7rem;
    }

     /*.about p{
        text-align: center;
    } /*--------------ERROR- style not being applied*/

    .event-container{
        padding: 0.5rem;
    }
    .event{
        height:22rem;
        width: 75%;
        margin: 1.5rem;
    }

    .event-about{
        justify-content: space-around;
    }
    
    .event-about>h2{
        font-size: 1.5rem;
        padding: 0 0.6rem 0 0.6rem;

    }

    .event-about a{
        font-size: 1rem;
    }

    .btn{
        margin: 0.8rem;
    }
}

/* ----------- phone ------------ */

@media screen and (max-width: 480px){
    .row{
        padding: 2rem;
    }

    .about{
        padding: 0.5rem;
    }

    .event-container{
        padding: 0.5rem;
    }

    .event{
        height: 19rem;
        width: 75%;
        margin: 1.2rem;
    }

    .event-about>h2{
        padding: 0 0.3rem 0 0.3rem;
        font-size: 1.4rem;
    }

    .btn{
        margin: 0.5rem
    }
} 